/* src/components/ChatHeader.module.css */

.appHeader {
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* 패딩 살짝 줄임 */
  background-color: #F7F2FF;
  flex-shrink: 0;
}

.modeToggleContainer {
  display: flex;
  background-color: #e4e6eb;
  padding: 0.3rem;
  border-radius: 2rem;
}

.modeButton {
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 1.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: #606770;
  transition: all 0.2s ease-in-out;
}

.modeButton.active {
  background-color: #B47EFF;
  color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}