.scrollWrapper {
  position: relative;
  height: 450vh;
}

.stickyContent {
  position: sticky;
  top: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #9b94fa, #acc7f8);
  overflow: hidden;
}

.logoBackground {
  position: absolute;
  top: 40%;
  left: 0;
  display: flex;
  gap: 2rem;
  transform: translateY(-50%);
  transition: transform 0.2s ease-out;
  z-index: 1;
}

.logoItem {
  flex: 0 0 auto;
  width: 130px; /* ← 크기 더 키우고 싶다면 여기 */
  height: 130px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logoItem img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.character {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mascot {
  width: 350px;
  margin-bottom: 1rem;
  transition:
    transform 0.4s,
    opacity 0.4s;
}

.label {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: opacity 0.4s ease-in-out;
}

.animated {
  animation: fadeSlideIn 0.5s ease-out;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
