.uoaLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 35vh;
}

.uoaLogoSvg {
  width: 40%; /* ← 원하는 만큼 크게 */
  height: auto;
  display: block;
}
.uoaLogoSvg line {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 3000;
  stroke-dashoffset: 1000;
  animation: drawLine 2s ease forwards;
}

.uoaLogoSvg path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 3000;

  stroke-dashoffset: 1000;
  animation: drawLine 2s ease forwards;
}

/* 각 글자별 색상 */
.uPath {
  stroke: #e6007e;
}
.nPath {
  stroke: #543ed9;
}
.oPath {
  stroke: #543ed9;
}
.aPath {
  stroke: #543ed9;
}

/* 텍스트 애니메이션 */
.sloganWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-top: 1rem;
}

.char {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subSlogans {
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 1s ease;
  transform: translateY(10px);
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #888;
}

.subSlogans.visible {
  opacity: 1;
  transform: translateY(0);
}

.Scrollecomment {
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 1s ease;
  transform: translateY(10px);
  text-align: center;
  margin-top: 10rem;
  padding-top: 1rem;
  font-size: 1rem;
  color: white;
}

.Scrollecomment.visible {
  opacity: 1;
  transform: translateY(0);
}

.Scrollecomment img {
  width: 12px;
  height: auto;
  margin-top: 0.5rem;
}

.app {
  text-align: center;
}

.appHeader {
  padding: 2rem;
  padding-top: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: none;
  align-items: center;
  background-color: black;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
